{{#if error}}
<div class="card-panel red lighten-4">
    <div class="red-text text-darken-4">{{error}}</div>
</div>
{{/if}}


{{#each errors}}
<div class="card-panel red lighten-4">
    <div class="red-text text-darken-4">{{msg}}</div>
</div>
{{else}}
{{/each}}