{{#if success_msg}}
<div class="card-panel green lighten-4">
    <div class="green-text text-darken-4">{{success_msg}}</div>
</div>
{{/if}}

{{#if error_msg}}
<div class="card-panel red lighten-4">
    <div class="red-text text-darken-4">{{error_msg}}</div>
</div>
{{/if}}