<div class="navbar-fixed">
    <nav class="teal darken-3">
        <div class="nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo">Projects Ideas</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li class="divider"></li>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Register</a></li>
                    <li><a href="#!" class="dropdown-trigger" data-target="dropdown-menu">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="dropdown-content" id="dropdown-menu">
    <li><a href="/ideas">Ideas</a></li>
    <li><a href="/ideas/add">Add idea</a></li>
</ul>
<div class="sidenav" id="mobile-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li class="divider"></li>
    <li><a href="/ideas">Ideas</a></li>
    <li><a href="/ideas/add">Add idea</a></li>
    <li class="divider"></li>
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
</div>