<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card center-align">
            <div class="card-content">
                <h2 class="card-title">{{title}}</h2>
                <p>Add and store your portfolio projects ideas</p>
            </div>
            <div class="card-actions">
                <a href="/ideas/add" class="btn teal darken-4 white-text" style="margin-bottom: 20px">Add Idea</a>
            </div>
        </div>
    </div>
</div>