body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.mt-3 {
    margin-top: 3rem;
}

.card {
    padding: 1rem;
}

.card-panel {
    padding: 0.5rem !important;
}