<div class="row mt-3 center-align">
    <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Login</span>
                {{> _errors}}
                <form action="/users/login" method="POST">
                    <div class="input-field">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="validate" required />
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="validate" required />
                    </div>
                    <button type="submit" class="btn teal darken-3 white-text">Login</button>
                </form>
                <br>
                <p class="mt-3">No Account? <a href="/users/register" class="teal-text text-darken-3">Register</a></p>
            </div>
        </div>
    </div>
</div>